<header
  class="d-flex justify-content-between align-items-center px-4 am-bg-primary fixed-top shadow-lg"
>
  <a>
    <img
      src="../../assets/img/logo1.png"
      alt=""
      height="100px"
      class="sticky-top top-0 mx-4 mt-4 shadow-lg rounded-bottom-4"
    />
  </a>
  <div class="d-flex gap-4">
    <a
      (click)="openPopupMenu($event)"
      [routerLink]="[{ outlets: { popup: ['shop'] } }]"
      class="am-secondary"
    >
      <i class="bi bi-cart h4" routerLinkActive="text-white"></i>
    </a>
    <div class="am-secondary">
      <i class="bi bi-globe-americas h4"></i>
    </div>
    <a class="am-secondary" (click)="openSlideMenu($event)">
      <i
        [ngClass]="{ 'text-white': slideMenuOpen }"
        class="bi bi-person-circle h4 text-white"
      ></i>
    </a>
  </div>
</header>
<app-slide-menu
  (closeMenu)="closeSlideMenu($event)"
  [isOpen]="slideMenuOpen"
></app-slide-menu>
