<footer
  class="d-flex justify-content-between align-items-center py-3 px-5 bg-white fixed-bottom shadow-lg"
>
  <div class="d-flex flex-column align-items-center">
    <i class="bi bi-airplane am-secondary h3 mb-0"></i>
    <p>FLEET</p>
  </div>
  <div class="d-flex flex-column align-items-center">
    <i class="bi bi-buildings am-secondary h3 mb-0"></i>
    <p>AIRPORTS</p>
  </div>
  <div class="d-flex flex-column align-items-center">
    <i class="bi bi-people am-secondary h3 mb-0"></i>
    <p>STAFF</p>
  </div>
  <div class="d-flex flex-column align-items-center">
    <i class="bi bi-truck am-secondary h3 mb-0"></i>
    <p>SERVICES</p>
  </div>
</footer>
