<div class="d-flex justify-content-center fixed-bottom">
  <div
    class="d-flex justify-content-center gap-5 bg-white px-5 py-2 rounded-4 mb-2 text-white shadow-lg"
    style="--bs-bg-opacity: 0.85"
  >
    <div class="d-flex flex-column align-items-center">
      <i class="bi bi-airplane am-secondary h3 mb-0"></i>

      <p class="am-primary">FLEET</p>
    </div>
    <div class="d-flex flex-column align-items-center">
      <i class="bi bi-buildings am-secondary h3 mb-0"></i>
      <p class="am-primary">AIRPORTS</p>
    </div>
    <div class="d-flex flex-column align-items-center">
      <i class="bi bi-people am-secondary h3 mb-0"></i>
      <p class="am-primary">STAFF</p>
    </div>
    <div class="d-flex flex-column align-items-center">
      <i class="bi bi-truck am-secondary h3 mb-0"></i>
      <p class="am-primary">SERVICES</p>
    </div>
  </div>
</div>
