.progress-bar {
  width: 100px;
  height: 10px;
  background-color: red;
}

.container {
  background-color: var(--am-lightblue);
  transition: 500ms;
}

.container:hover {
  background-color: white;
}
