<div class="container popup-menu rounded-4 shadow-lg py-3" #popup>
  <div class="position-absolute" style="right: 1rem">
    <button (click)="closeMenu()" class="btn"><p class="h5">x</p></button>
  </div>
  <div class="">
    <div class="d-flex mb-5">
      <h1>STORE</h1>
    </div>
  </div>
  <div class="d-lg-flex gap-3 justify-content-start">
    <div class="my-4 buttons-bar d-flex flex-lg-column gap-3 ms-xl-4 ms-lg-5">
      <div
        routerLinkActive="am-bg-secondary"
        routerLink="airplanes"
        class="btn border border-1 am-bg-primary text-white"
      >
        <img
          src="../../../assets/img/shop-menu/plane-menu-img.jpg"
          alt="image of a plane"
          height="50px"
          width="50px"
          class="rounded-5 border border-4 am-border-secondary"
        />
        <p class="">Airplanes</p>
      </div>
      <div
        routerLinkActive="am-bg-secondary"
        routerLink="pilots"
        class="btn border border-1 am-bg-primary text-white"
      >
        <img
          src="../../../assets/img/shop-menu/pilot-shop-image.jpg"
          alt="image of a plane"
          height="50px"
          width="50px"
          class="rounded-5 border border-4 am-border-secondary"
        />
        <p>Pilots</p>
      </div>
      <div
        routerLinkActive="am-bg-secondary"
        routerLink="cabin-crew"
        class="btn border border-1 am-bg-primary text-white"
      >
        <img
          src="../../../assets/img/shop-menu/cabin-crew-shop-img.jpg"
          alt="image of a plane"
          height="50px"
          width="50px"
          class="rounded-5 border border-4 am-border-secondary"
        />
        <p>Cabin Crew</p>
      </div>
      <div
        routerLinkActive="am-bg-secondary"
        routerLink="engineers"
        class="btn border border-1 am-bg-primary text-white"
      >
        <img
          src="../../../assets/img/shop-menu/engineer-shop-image.jpg"
          alt="image of a plane"
          height="50px"
          width="50px"
          class="rounded-5 border border-4 am-border-secondary"
        />
        <p>Engineers</p>
      </div>
      <div
        routerLinkActive="am-bg-secondary"
        routerLink="airports"
        class="btn border border-1 am-bg-primary text-white"
      >
        <img
          src="../../../assets/img/shop-menu/airport-shop-image.jpg"
          alt="image of a plane"
          height="50px"
          width="50px"
          class="rounded-5 border border-4 am-border-secondary"
        />
        <p>Airports</p>
      </div>
    </div>
    <div class="items-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
