<div class="container admin-tools rounded-4 shadow-lg py-3">
  <p class="bg-danger text-white">
    TODO: make the page responsive for all devices
  </p>
  <h1 class="d-flex justify-content-center mb-4">ADMIN TOOLS</h1>
  <div class="d-flex gap-4">
    <div class="d-inline-flex gap-2 flex-column">
      <div class="btn btn-primary">MANAGE PLANES</div>
      <div class="btn btn-primary">MANAGE WORKERS</div>
      <div class="btn btn-primary">MANAGE TEAMS</div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
