<app-header></app-header>
<app-map></app-map>
<app-footer></app-footer>
<!-- <router-outlet name="popup"></router-outlet> -->
<router-outlet></router-outlet>

<!-- FOR LATER!!! ATTRIBUTES FOR ICONS -->
<div hidden id="attributes">
  <a href="https://www.flaticon.com/free-icons/engineer" title="engineer icons"
    >Engineer icons created by Freepik - Flaticon</a
  >
  <a
    href="https://www.flaticon.com/free-icons/flight-attendant"
    title="flight attendant icons"
    >Flight attendant icons created by Flat Icons - Flaticon</a
  >
  <a href="https://www.flaticon.com/free-icons/pilot" title="pilot icons"
    >Pilot icons created by Trazobanana - Flaticon</a
  >
</div>
