<div class="container">
  <div class="row justify-content-center align-items-center g-4 p-4">
    <div class="col">
      <img
        src="../../../../assets/country-flags/ro.png"
        alt="flag of a country"
        class="rounded-circle shadow opacity-50"
        width="45px"
        height="45px"
        style="transform: scale(0.8)"
      />
    </div>
    <div class="col">
      <img
        src="../../../../assets/country-flags/gb.png"
        alt="flag of a country"
        class="rounded-circle shadow"
        width="45px"
        height="45px"
      />
    </div>
    <div class="col">
      <img
        src="../../../../assets/country-flags/it.png"
        alt="flag of a country"
        class="rounded-circle shadow opacity-50"
        width="45px"
        height="45px"
        style="transform: scale(0.8)"
      />
    </div>
  </div>
</div>

<header>JFK International Airport</header>

<nav>
  <div class="menu-item">
    <img src="parking-icon.png" alt="Parking" width="24" height="24" />
    <a href="#parking">Parking Spots</a>
  </div>
  <div class="menu-item">
    <img src="hangar-icon.png" alt="Hangar" width="24" height="24" />
    <a href="#hangars">Hangars</a>
  </div>
  <div class="menu-item">
    <img src="routes-icon.png" alt="Routes" width="24" height="24" />
    <a href="#routes">Routes</a>
  </div>
  <div class="menu-item">
    <img src="helipad-icon.png" alt="Helipads" width="24" height="24" />
    <a href="#helipads">Helipads</a>
  </div>
</nav>
