<div class="d-flex shadow-lg rounded rounded-4 overflow-hidden">
  <img src="../../../../../../assets/country-flags/ro.png" alt="country flag" />
  <div class="container">
    <div class="row">
      <staff-item [staff]="engineers" [allowManage]="false"></staff-item>
    </div>
    <div class="row py-2">
      <p class="col px-5">plane icon</p>
      <div class="col-md-auto px-5">
        <div class="d-flex flex-column">
          <app-progress-bar></app-progress-bar>
          <app-progress-bar></app-progress-bar>
          <app-progress-bar></app-progress-bar>
        </div>
      </div>
    </div>
  </div>
</div>
