<div class="container p-4 d-flex flex-column gap-3">
  <div
    class="d-flex gap-5 shadow-lg rounded-3 overflow-hidden"
    *ngFor="let plane of fleet"
  >
    <img
      [src]="plane.planeImg"
      width="135px"
      alt="an image of a plane flying"
      class=""
    />
    <div class="py-2">
      <h4>{{ plane.planeName }}</h4>
      <p>Status: {{ plane.status | uppercase }}</p>
      <p>Assigned Route:</p>
      <p>{{ plane.assignedRoute[0] }} - {{ plane.assignedRoute[1] }}</p>
    </div>
    <div class="p-4">
      <p>Capacity: {{ plane.capacity }}</p>
      <p>Range: {{ plane.range }} NM</p>
      <p>Condition: {{ plane.condition }}%</p>
    </div>
  </div>
</div>
