.staff-menu {
  display: none !important;
  position: absolute;
  top: 2rem;
  width: 100px;
}

.staff-menu button {
  scale: 0.8;
}

.staff-icon:hover .staff-menu {
  display: flex !important;
  scale: 1;
}

.staff-icon:hover {
  scale: 1.4;
  transition: 100ms;
  transform: translateY(10%);
  z-index: 1000;
}
