/* You can add global styles to this file, and also import other style files */
:root {
  --am-primary: #334155;
  --am-secondary: #fb923c;
  --am-lightblue: #015aff25;
}

.am-bg-primary {
  background-color: #334155 !important;
}

.am-bg-secondary {
  background-color: #fb923c !important;
}

.am-primary {
  color: #334155 !important;
}

.am-secondary {
  color: #fb923c !important;
}

body {
  font-family: "Nova Square", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0;
}

.leaflet-marker-icon {
  width: 0 !important;
  height: 0 !important;
  border: none !important;
}

.map-dark-mode {
  filter: brightness(0.6) invert(1) contrast(2) hue-rotate(200deg) saturate(0.5)
    brightness(0.7);
}

/* Bootstrap custom classes */

.p-10 {
  padding: 10rem;
}

.py-10 {
  padding: 10rem 0;
}

.px-10 {
  padding: 0 10rem;
}

.gap-7 {
  gap: 5rem;
}

.gap-10 {
  gap: 10rem;
}
