<div class="">
  <!-- menu title -->
  <div
    class="am-bg-primary am-secondary rounded-top px-3 d-flex align-items-center"
    style="width: 10rem"
  >
    {{ openedTab | uppercase }}
  </div>

  <!-- menu header -->

  <div>
    <div
      class="am-bg-primary d-flex justify-content-between align-items-center"
      style="border-top-right-radius: 7px"
    >
      <img src="../../assets/img/logo1-white.png" width="170rem" alt="" />
      <div class="d-flex gap-4 mx-3">
        <img src="../../assets/img/logo2-white.png" width="60rem" alt="" />
        <button class="btn text-white" (click)="onCloseMenu()" role="button">
          X
        </button>
      </div>
    </div>

    <!-- menu content -->

    <div class="d-flex justify-content-center bg-white container">
      <ng-content></ng-content>
    </div>
  </div>
</div>
